@font-face {
    font-family: 'Agane';
    src: url('../fonts/agane_45_light-webfont.woff2') format('woff2'),
         url('../fonts/agane_45_light-webfont.woff') format('woff');
    font-weight: lighter;
    font-style: normal;
}

@font-face {
    font-family: 'Agane';
    src: url('../fonts/agane_55_roman-webfont.woff2') format('woff2'),
         url('../fonts/agane_55_roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Agane';
    src: url('../fonts/agane_65_bold-webfont.woff2') format('woff2'),
         url('../fonts/agane_65_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

body {
	font-family: 'Agane',
				 -apple-system,
				 BlinkMacSystemFont,
				 'Segoe UI',
				 'Roboto',
				 'Helvetica Neue',
				 Arial, sans-serif,
				 'Apple Color Emoji',
				 'Segoe UI Emoji' !important;
}

.navbar {
    margin: 6px;
}

.text-yournal {
	color: #1976d2;
}

#home {
    padding: 30px;
    background-image: url("../img/watermark.jpg");
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
}

#features {
    background-color: #1976d2;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    padding-right: 30px;
}

#screenshots {
    padding: 30px;
}

#support {
    padding-left: 10px;
    padding-right: 10px;
}

.footer-copyright {
    color: #ffffff;
    background-color: #1976d2;
    padding: 10px;
}
